.post-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.post-card {
  width: 30%;
  margin-bottom: 20px;
  background-color: rgb(236, 235, 235);
  color: black;
  padding: 16px;
}

.post-card h3 {
  height: 60px;
  font-weight: 500;
  font-size: 20px;
}
